ScalarField/DATA/
ScalarField/evols/
ScalarField/StoredDATA/
ScalarField/.ipynb_checkpoints/
ScalarField/todo.txt
ScalarField/tests.ipynb
ScalarField/fits.jl.ipynb
ScalarField/Interpolation_tests
ScalarField/script-convergence

TestModel/DATA/
TestModel/.ipynb_checkpoints/
TestModel/NestedModel221020.pdf

ScalarField/2D/.ipynb_checkpoints/
ScalarField/2D/Log grid.ipynb

ScalarField/changing-grid/.ipynb_checkpoints

muninn
*.gif
*.png